# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
checkpoints*/
comparison/*
predict/bothat/*
predict/original/*
predict/laplacian/*
predict/comparison
*.apps.googleusercontent.com.json
credentials.json

# Virtual env
venv/
/env/
# =========================
# Dataset (ignore semua)
# =========================
dataset/*
!dataset/dataset_link.txt
!dataset/isic_dataset.py
!dataset/__init__.py

# =========================
# ZIP files (extra safety)
# =========================
*.zip